<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WS03b</title>
</head>
<body>
    <%- include('partials/_header') %>

    <p><%= message %></p>
    <ul>
        <% items.forEach(item => { %>
          <li>
            <%= item.name %>
            <% if (!item.stock) { %>
                (Not in stock!)
              <% } %>
          </li>
        <% }); %>
    </ul>

    <div>
        <% for (const user of users) { %>
            <div>
                <h3>User <%= user.id %></h3>
                <p>Name: <%= user.name %></p>
            </div>
        <% } %>
    </div>

    <%- include('partials/_footer') %>
</body>
</html>